# fly.toml app configuration file generated for foresight-demo on 2026-01-23T16:36:15-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'foresight-demo'
primary_region = 'iad'

[build]

[env]
FORESIGHT_INFERENCE_MODE = "modal"
FORESIGHT_HOST = "0.0.0.0"
FORESIGHT_PORT = "8000"
FORESIGHT_CORS_ORIGINS = '["https://foresight-demo-kappa.vercel.app","https://foresight-demo.vercel.app","https://frontend-ten-sigma-45.vercel.app"]'
FORESIGHT_MODAL_APP_NAME = "foresight-inference"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "connections"
    hard_limit = 500
    soft_limit = 400

[[http_service.checks]]
  grace_period = "10s"
  interval = "15s"
  method = "GET"
  path = "/api/health"
  timeout = "5s"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
